body {
  color: #faf2f2;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
   
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  text-align: start;
  background-color: #D3E6FE;
  max-height: 800px;
}

.texto {
  flex: 1;
  color: #334155;
}

.imagen img {
  max-width: 100%;
  height: auto;
  max-height: 580px;
  min-height: fit-content;
  max-width: 600px;
}

.btn-bd-primary {
  border-radius: 4px;
  height: 48px;
  padding: 8px 32px;
  background: #2563EB;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.contenedor {
  background-color: #0D2C5E;
  display: flex;
  padding: 32px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.contenedor_servicios {
  background-color: #ffffff;
  display: flex;
  padding: 32px;
  text-align: left;
  justify-content: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  clear: both;
  margin-bottom: 20px;
}

.texto_promo{
  align-items: center;
  color: #0D2C5E
  font-size: 28px;
  font-weight: 600;
  background-color: #fff; /* Color de fondo blanco */


}

.imagen-con-texto {
  margin-bottom: 20px;
  text-align: center; /* Centra el texto debajo de la imagen */
}

.texto {
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente del texto */
  margin-top: 10px; /* Espacio entre la imagen y el texto */
}



.container {
  padding: 32px; /* Espacio interno del contenedor */
  align-items: center;
}

.imagen-con-texto {
  text-align: center; /* Alinea horizontalmente el texto e imagen */
}


.titulo{
  padding-bottom: 24spx;;
  font-weight: 700;
  color: #0D2C5E;
}

