body {
    color: #faf2f2;
    background-color: #D3E6FE;

    font-family: Montserrat;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

  .banner {
    display: flex; /* Utilizamos flexbox para alinear elementos */
    align-items: center; /* Alineamos verticalmente los elementos */
    padding: 32px; /* Espaciado interno del banner */
    background-color:#D3E6FE;
    
  }
  
  .texto {
    flex: 1; /* El texto ocupará el espacio restante */
    margin-left: 80px;
    
  }
  
  .imagen {
    margin-left: 32x; /* Espaciado entre el texto y la imagen */
    
  }
  
  .imagen img {
    max-width: 90%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* Para mantener la proporción */
    
  }



